.somos-contenedor{
    padding: 10px;
}

.somos-contenedor img{
    width: 40%;
    float: right;
    height: auto;
    margin-right: 10px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

li{
    margin-left: 20px;
    list-style-type: circle;
}